body {
    background: #202020;
    color: white;
}

.Vista {
    background-image: url('img/PortadaV2.png');
    background-size: cover;
    height: 600px;
}

.efectos {
    font-weight: bold;
    padding-top: 15%;
    padding-left: 60%;
}

.formulario {
    padding-top: 5%;
    padding-left: 5%;
}

.Contenedor-de-Formulario {

    background-color: #F5F8F0;
}